@model Course


<div class="container mt-2" >
    <div class="row"  >
        <div class="col-4  ">
            <div class="card w-75" >
                <img src="~/images/@Model.Image" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-8 border ">
            <a href="/course/details/@Model.Id">

                <h2>@Model.Title</h2>

            </a>
            <p>@Model.Description</p>

            <div>
                @foreach(var tag in Model.Tags){
                    <span class="badge bg-success" >@tag</span>
                }
            </div>
            
        </div>
    </div>
</div>